.terraform/
*.tfstate
*.tfstate.backup

# Node modules — never commit these
node_modules/
**/node_modules/

# npm logs
npm-debug.log*

# environment files
.env
.env.local

# MacOS files
.DS_Store
thumbs.db
desktop.ini
# VS Code settings
.vscode/
*.code-workspace

# AWS 
trust-policy.json
task-definition.json
*.pem
*.key
.aws/ 

# Docker
.docker/


# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
